app:
  auth0:
    issuer: ${AUTH0_ISSUER:https://example.auth0.com/}
    audiences: ${AUTH0_AUDIENCE:https://example.auth0.com/api/v2/}
    role-claim-key: {{{roleClaimKey}}}

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH0_ISSUER:https://example.auth0.com/}
          jwk-set-uri: ${AUTH0_JWK_SET_URI:https://example.auth0.com/.well-known/jwks.json}
