app:
  auth:
    provider: auth0
  auth0:
    issuer: https://{{{auth0Domain}}}/
    audiences: ${SPRING_ENV_AUTH0_AUDIENCE:https://{{projectName}}-api.{{domain}}/api/v1/}
    role-claim-key: {{{roleClaimKey}}}
    {{#tenantIdClaimKey}}
    tenant-claim-key: {{{tenantIdClaimKey}}}
    {{/tenantIdClaimKey}}
  users:
    root: ${SPRING_ENV_ROOT_USER:}
    admins: ${SPRING_ENV_ADMIN_USERS:}

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://{{{auth0Domain}}}/
          jwk-set-uri: https://{{{auth0Domain}}}/.well-known/jwks.json
